@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="About-Main-Content">
    <div class="about-vision">
        <h2>Vision</h2>
        <p>
            Afro-ttraction is a African Print Fashion Company.
            Our vision is to make African designs available for any form of activity
            from coporate to casual.Generally, you will not be able to do almost anything with a single framework.
            They are all restricted in some way, from coding paradigms to database designs and everything in between.
            A good way to work around this is to see what the framework is being used for by other developers in the community,
            as this will give you an idea of what you can achieve
        </p>

    </div>
    <div class="about-mission">
        <h2>Mission</h2>
        <p>
            Our mission is to provide convinience to our customers by being able to effecintly and effectively
            provide clothes made from African Prints.Generally, you will not be able to do almost anything with a single framework.
            They are all restricted in some way, from coding paradigms to database designs and everything in between.
            A good way to work around this is to see what the framework is being used for by other developers in the community,
            as this will give you an idea of what you can achieve
        </p>
    </div>
    <div class="about-objective">
        <h2>Objective</h2>
        <p>
            We wana make money thts the truth.
            Generally, you will not be able to do almost anything with a single framework.
            They are all restricted in some way, from coding paradigms to database designs and everything in between.
            A good way to work around this is to see what the framework is being used for by other developers in the community
            , as this will give you an idea of what you can achieve
        </p>
    </div>


</div>
