@{
    ViewBag.Title = "Contact";
}

<div class="contact-content">
    <div class="grid-one">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@afro-ttraction.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@afro-ttraction.com</a>
        </address>
    </div>
    <div class="grid-two">
        <article class="contact-greyarea">
            <h3 style="text-align:center;">Contact Us</h3>
            <form>
                <input type="text" placeholder="Name" />

                <br />
                <br />
                <input type="email" placeholder="EmailAddress" />

                <br />
                <br />
                <input type="text" placeholder="ReachOut to Us" />

                <br />
                <br />
                <textarea rows="5" cols="25" placeholder="Enter Details..."></textarea>
                <br />
                <br />
                <input type="submit" value="Send"/>
            </form>
        </article>
      
    </div>

</div>

